@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> <br />
    <p><a href="https://apostolicfaithweca.org">Earnestly Contend for the faith which was once delivered unto the saints</a></p>
</div>

<div class="card shadow-lg mx-auto my-auto p-5 col-6">
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-info" asp-action="CreateRequest" style="width:100px">Ask Help</a>
        </div>
        <br class="d-sm-block" />
        <br class="d-sm-block" />
        <div class="col-lg-6">
            <a class="btn btn-primary float-lg-right" asp-action="CreateSupply" style="width:100px">Give Help</a>
        </div>
    </div>
</div>
